---
const {title} = Astro.props;
const {favicon} = Astro.props;
---
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/svg+xml" href={favicon} />
	<title>{title}</title>
	<meta name="description" content="Brandon Martin is a web developer located just northwest of Milwaukee."/>
	<meta name="author" content="Brandon Martin" />
	<meta name="keywords" content="brandon, martin, web developer, hartford wisconsin" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta property="og:title" content="Brandon Martin | Web Developer" />
	<meta property="og:description" content="Brandon Martin is a web developer located just northwest of Milwaukee." />
	<meta name="twitter:site" content="@toptal" />
	<meta name="twitter:card" content="summary_large_image" />
	<link rel="sitemap" href="/sitemap-index.xml" />
</head>
